playwright
requests
aiohttp
curl_cffi
Appium-Python-Client>=4.0.0
selenium>=4.0.0
fastapi
httpx2
uvicorn[standard]
google-api-python-client>=2.100.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0
tzdata>=2024.1
